@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Source Code Pro', monospace; */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(237 244 224);
    height: 100vh;
}
#status{
    /* position: fixed;
    right: 0; */
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    border: 2px solid green;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    background-color: #90d900;
    color: rgb(0 43 148);
}
#main-container{
    clear: right;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-basis: 100%; */
}
#heading{
    border: 2px solid #32b942;
    background-color: #e9ff8a;
    color: #303002;
    padding: 15px 8px;
    margin: 4px 0px;
    font-family: 'Source Code Pro', monospace;
}
#tech-used{
    /* border: 2px solid blue; */
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    color: #00871a;
}
#body-container{
    border: 2px solid rgb(243 255 221);
    border-radius: 10px;
    display: flex;
    width: 50vw;;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 0px 50px;
    background-color: rgb(243 255 221);
    
}
.container-PC{
    border: 2px solid red;
}
.name{
    /* border: 2px solid violet; */
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
.image{
    width: 10vw;
    height: 40vh;
    /* height: 300px; */
}
.image-holder{
   border: 2px solid rgb(238, 130, 238);
}
#score-container{
    display: flex;
    align-items: center;
}
.score-PC{
    border: 2px solid rgb(163, 84, 4);
    margin: 0px 5px;
    font-size:20px;
    padding: 4px;
}
#button{
    display: flex;
    justify-content: center;
}
button{
    padding: 5px;
    background-color: #194300;
    color: rgb(255, 255, 255);
    border: none;
    margin: 5px 0px;
}
button:hover{
    background-color: #86b600;
    color: rgb(248 255 175);
    cursor: pointer;
}